bin/Caffe/ssd-caffe.tar.bz2 filter=lfs diff=lfs merge=lfs -text
bin/OpenCV/cv2_3.4.3/cv2.tar.bz2 filter=lfs diff=lfs merge=lfs -text
bin/Python/Python3.6.5/Python-3.6.5.tar.gz filter=lfs diff=lfs merge=lfs -text
